html {
	
}
body {

	background: url(graphics/background_grass.png);
	background-repeat: repeat;
	
	
}

#actionBar {
	width: 100%;
	position: relative;
	display: flex;

}

#actionBar button{
	background-repeat: no-repeat;
	width:9.01%;
	height: 100px;
	border: 0;
	background-size: contain;
	position: relative;
  	box-sizing: border-box;
}

#petBnt {
	background: url(graphics/actions/action_pet.png);

}

#sleepBnt {
	background: url(graphics/actions/action_pet.png);

}

#toiletBnt {
	background: url(graphics/actions/action_toilet.png);

}

#clubbingBnt {
	background: url(graphics/actions/action_clubbing.png);

}

#burgerBnt {
	background: url(graphics/actions/action_burger.png);

}

#veganBnt {
	background: url(graphics/actions/action_corn.png);

}

#beerBnt {
	background: url(graphics/actions/action_beer.png);

}

#edamameBnt {
	background: url(graphics/actions/action_edamame.png);

}

#sweetsBnt {
	background: url(graphics/actions/action_sweets.png);

}

#quinoaBnt {
	background: url(graphics/actions/action_quinoa.png);

}

#donerBnt {
	background: url(graphics/actions/action_pet.png);

}
